<div class="wrapper" [ngClass]="{'active' : isDone }">
      <header>English Dictionary</header>

      <div class="search">
        <input type="text" placeholder="Search a word" required spellcheck="false" (change)="loodData()" [(ngModel)]="searchWord">
        <i class="fas fa-search"></i>
        <span class="material-icons" (click)="close()">close</span>
      </div>
      <!-- <p class="info-text">Type any existing word and press enter to get meaning, example, synonyms, etc.</p> -->
      <p class="info-text" *ngIf="notFind">Can't find the meaning of <span>"{{this.searchWord}}"</span>. Please, try to search for another word.</p>
      <ul >
        <li class="word">
          <div class="details">
            <p>{{res?.word}}</p>
            <span>{{phonetic}}</span>
          </div>
          <fa-icon (click)="play()" [icon]="faVolumeHigh" ><audio [src]=audio! ></audio></fa-icon>
        </li>
        <div class="content">
          <li class="meaning">
            <div class="details">
              <p>Meaning</p>
              <span>{{meanings?.definitions[0]?.definition}}</span>
            </div>
          </li>
          <!-- <li class="example">
            <div class="details">
              <p>Example</p>
              <span>___</span>
            </div>
          </li> -->
          <li class="synonyms">
            <div class="details">
              <p>Synonyms</p>
              <div class="list" >
                <span *ngFor="let item of synonyms">{{item}} ,</span>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
